PORT=3000
GEMINI_API_KEY=your_actual_api_key_goes_here
# Standard connection (for migrations)
SUPABASE_URL=https://ozgpjhobrbnajxwnfylv.supabase.co/rest/v1/
SUPABASE_ANON_KEY=your_actual_anon_key_goes_here
SUPABASE_SERVICE_ROLE_KEY=your_actual_service_role_key_goes_here


# Pooler connection (for your Node.js and Python services)
DATABASE_URL_POOL=postgres://postgres.[project-id]:[password]@aws-0-region.pooler.supabase.com:6543/postgres?pgbouncer=true
FASTAPI_URL=http://localhost:5000

# Add this to your existing .env file
JWT_SECRET=my_super_secret_jwt_key_for_socratica_123